* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#particles-js {
  position: absolute;

  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
}
a:visited {
  color: blue;
}
body {
  position: relative;
  background-color: #050c6b;
  width: 100vw;
  height: 100vh;
  font-family: "Source Sans Pro", sans-serif;
}

.content {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.header {
  color: white;
  position: relative;
  height: 50vh;
  padding-bottom: 40px;
}

.header h2 {
  font-size: 2em;
}

.content > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

h4 {
  font-weight: 600;
  font-size: 20px;
  color: black;
}

.image {
  position: relative;
  width: 104px;
  height: 104px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0), 0 0 0 4px rgba(0, 0, 255, 0);
}
.image img {
  width: 104px;
  margin-bottom: 20px;
  height: 104px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 99;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes invertSpin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.roleta {
  top: 27px;
  left: -52px;
  display: none;
  justify-content: space-between;
  width: 214px;
  position: absolute;
  animation: spin 10s infinite linear;
}
.fa-react,
.fa-node-js {
  animation: invertSpin 10s infinite linear;
  font-size: 50px;
}
.fa-node-js {
  color: #68a063;
}
.fa-react {
  color: #61dbfb;
}

.contact {
  z-index: 99;
  position: absolute;
  bottom: -6rem;
  display: flex;
  width: 50vw;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.contact > div {
  width: 100%;
}
.contact p {
  color: black;
  padding-top: 5px;
  font-size: 14px;
}
.contact > div ul {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem;
  justify-content: space-between;
  list-style: none;
  margin-top: 10px;
  height: 4rem;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.5);
}
.content .contact svg {
  margin: auto;
  width: 2rem;
  height: 2rem;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.extras {
  background-color: #eeeeee;
  display: flex;
  align-items: flex-start;
  color: black;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 0 0 1px #fff;
  z-index: 0;
  margin: 35px 25px 25px 25px;
}
.extras ul {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  width: 100%;
}
.extras li {
  margin: 15px;
  border-radius: 5px;
  width: 90%;
  height: 2rem;
  background: white;
}
.extras li:hover {
  background: black;
}
.extras a {
  display: flex; /*CSS3*/
  align-items: center; /*Vertical align*/
  justify-content: center; /*horizontal align*/
  font-size: 1rem !important;
  color: black;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  transition: color 0.5s ease;
}
.extras a:hover {
  color: #fff;
}

.extras a i,
.extras a svg {
  color: black;
  font-size: 3rem !important;
  margin-right: 15px;
}

@media (min-width: 37em) {
  .header h2 {
    margin-top: 50px;
  }
  .roleta {
    display: flex;
  }
  .contact {
    width: 300px;
  }
}
